 {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8fbff;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #5b9bd5;
    padding: 20px 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: white;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 25px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

.hero {
    min-height: 500px;
    padding: 70px 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #dff1ff;
}

.hero-text {
    width: 55%;
}

.hero-text h1 {
    font-size: 48px;
    color: #27689e;
    margin-bottom: 20px;
}

.hero-text p {
    font-size: 18px;
    margin-bottom: 30px;
}

.btn {
    display: inline-block;
    background-color: #5b9bd5;
    color: white;
    padding: 12px 25px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
}

.btn:hover {
    background-color: #397eb7;
}

.hero-image {
    width: 35%;
    font-size: 180px;
    text-align: center;
}

.produk {
    padding: 70px 8%;
    text-align: center;
}

.produk h2,
.layanan h2,
.tentang h2 {
    font-size: 32px;
    color: #27689e;
    margin-bottom: 10px;
}

.section-text {
    margin-bottom: 40px;
}

.card-container {
    display: flex;
    justify-content: center;
    gap: 25px;
}

.card {
    width: 30%;
    padding: 25px;
    background-color: white;
    border: 1px solid #d5e7f5;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}

.card-icon {
    font-size: 55px;
    margin-bottom: 15px;
}

.card h3 {
    color: #27689e;
    margin-bottom: 10px;
}

.card p {
    margin-bottom: 15px;
}

.card span {
    font-weight: bold;
    color: #397eb7;
}

.layanan {
    padding: 70px 8%;
    background-color: #eaf6ff;
    text-align: center;
}

.service-container {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 35px;
}

.service {
    width: 30%;
    padding: 25px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}

.service h3 {
    color: #27689e;
    margin-bottom: 10px;
}

.tentang {
    padding: 70px 15%;
    text-align: center;
}
.tentang p {
    max-width: 800px;
    margin: auto;
}

footer {
    background-color: #27689e;
    color: white;
    text-align: center;
    padding: 30px;
}